/*--------------------
        Menu
---------------------*/
.ui.secondary.menu {
  .user-avatar.dropdown.item:hover, .notifications.dropdown.item:hover {
    cursor: pointer;
    background: transparent;
  }

  .user-avatar.dropdown.item, .notifications.dropdown.item {
    background: transparent;
  }

  .item {
    font-size: 1.12rem;
  }
}

/*--------------------
      User avatar
---------------------*/
.ui.circular.avatar.image {
  width: 44px;
  height: 44px;
}

/*--------------------
      Notification
---------------------*/
.notification-date {
  color: rgba(0, 0, 0, 0.4);
  margin-top: 0.2em;
  font-size: 0.75em;
}

/*--------------------
        Desktop
---------------------*/
@media only screen and (min-width: 1199px) {
  .ui.secondary.menu {
    .notifications {
      margin: 0;
      padding: 0;
    }
  }
}

/*--------------------
        Mobile
---------------------*/
@media only screen and (max-width: 767px) {
  .ui.secondary.menu {
    .right.menu {
      .ui.transparent.icon.input {
        margin: 1em;
      }
    }
  }
}