/*--------------------
        Home
---------------------*/
.ui.title.center.aligned.row {
  margin: 1em 0;
  padding: 0;

  .ui.green.header {
    margin-top: 1em;

    .content {
      font-size: 2.8rem;
    }
  }
}

.ui.slogan.center.aligned.row {
  margin: 1em 0;
  padding: 0;
}

.ui.sign-up.aligned.row {
  margin-top: 1em;
  padding: 0;
}