/*--------------------
      User page
---------------------*/
.ui.feed > .event > .content .summary {
  font-weight: normal;
}

.ui.items > .item > .image > img {
  height: 150px;
  border-radius: 1rem;
}

.ui.items > .item .extra {
  color: rgba(0, 0, 0, 0.55);
}

.ui.comments .comment .avatar {
  height: 42px;
}

.ui.items > .item > .content > .follow {
  margin-top: 0.5em;
}

/*--------------------
      Users list
---------------------*/
.users-list {
  .ui.four.stackable.cards {
    .card {
      .image > img {
        height: 200px;
      }

      .extra.content {
        text-align: center;
      }
    }
  }
}

/*--------------------
        Mobile
---------------------*/
@media only screen and (max-width: 767px) {
  .users-list {
    .ui.four.stackable.cards {
      .card {
        .image > img {
          height: 350px;
        }

        .extra.content {
          .ui.green.label {
            margin-top: 0.5em;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .users-list {
    .ui.four.stackable.cards {
      .card {
        .extra.content {
          .ui.green.label {
            margin-top: 0.5em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .ui.items > .item > .content > .follow { 
    .ui.green.label {
      margin-top: 0.5em;
    }
  }
}