/*--------------------
      User page
---------------------*/
.ui.feed > .event > .content .summary {
  font-weight: normal;
}

.ui.items > .item {
  .image > img {
    height: 150px;
    border-radius: 1rem;
  }

  .extra {
    color: rgba(0, 0, 0, 0.55);
  }

  .content > .follow {
    margin-top: 0.5em;
  }
}

.pagination {
  text-align: center;

  .ui.pagination.menu {
    margin: 1em 0;
  }
}

.ui.comments {
  .comment {
    height: 50px;
    margin: 0.5em 0;

    .avatar {
      height: 46px;
    }

    .content > .ui.dropdown {
      float: right;
    }

    .text {
      margin: 0.1em 0 0.25em;
    }
  }

  .ui.divider {
    margin: 0.7em 0 0.5em 0;
  }
}

/*--------------------
      Users list
---------------------*/
.users-list {
  text-align: center;

  .ui.four.stackable.cards {
    .card {
      .image > img {
        width: 100%;
        height: 250px;
      }

      .extra.content {
        text-align: center;
      }
    }
  }

  .ui.pagination.menu {
    margin: 2em 0;
  }
}

/*--------------------
        Mobile
---------------------*/
@media only screen and (max-width: 767px) {
  .users-list {
    .ui.four.stackable.cards {
      .card {
        .image > img {
          height: auto;
        }

        .extra.content {
          .ui.green.label {
            margin-top: 0.5em;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .users-list {
    .ui.four.stackable.cards {
      .card {
        .extra.content {
          .ui.green.label {
            margin-top: 0.5em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .ui.items > .item > .content > .follow { 
    .ui.green.label {
      margin-top: 0.5em;
    }
  }
}